# ========================
# App Ports
# ========================
export HTTP_PORT=8080

# ========================
# Database (used by DBConfig)
# ========================
export MYSQL_PORT=23306
export MYSQL_ROOT_PASSWORD=password
export MYSQL_PASSWORD=test
export MYSQL_DATABASE=event
export MYSQL_USER=test
export MYSQL_HOST=127.0.0.1

# ========================
# Test Database
# ========================
export MYSQL_TEST_DATABASE=event_test

# ========================
# Kafka (Event Store)
# ========================
export KAFKA_BROKERS=localhost:9092
export KAFKA_NODE_ID=1
export KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
export KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
export KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
export KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
export KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
export KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
export KAFKA_PROCESS_ROLES=broker,controller
export KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
export KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
export KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
export KAFKA_LOG_DIRS=/tmp/kraft-combined-logs
export KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
export CLUSTER_ID=4L6g3nShT-eMCtK--X86sw
